:root {
    --primary-bg-color: rgb(75, 71, 71);
    --secondary-bg-color: rgb(57, 56, 56);
    --tertiary-bg-color: rgb(43, 42, 42);
}

nav a:link {
    color: white;
    text-decoration: underline;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 5px white;
}

html {
    background-color: var(--secondary-bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main {
    background-color: var(--primary-bg-color);
    max-width: 80%;
    margin: auto;
    min-height:700px;
    
}

header {
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding: 5px;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
    text-align: center;
    border-bottom: 3px solid var(--tertiary-bg-color);
    padding-bottom: 10px;
    padding-top:10px;
}

nav a {
    margin: 10px;
}
.demoDescription {
    margin:auto;
    max-width:600px;
    background-color:var(--secondary-bg-color);
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    border: 4px solid var(--tertiary-bg-color);
    border-bottom: 12px solid var(--tertiary-bg-color);
    box-shadow: 4px 4px 4px rgb(43, 43, 43);
}
.demoDescription p {
    font-size:smaller;
    line-height:1em;
    margin:0.5em;
    margin-left:5em;
}
footer {
    text-align: center;
    border-top: 2px solid var(--tertiary-bg-color);
}

.boxes {
    padding-top: 50px;
    max-width: 800px;
    margin: auto;
    display: flex;
    grid-template-columns: auto auto;
    padding-bottom: 50px;
    
}

.box img {
    margin:auto;
}
.boxOuter {
    background-color: var(--tertiary-bg-color);
    line-height: 1.5em;
    padding: 8px;
    padding-bottom: 8px;
    margin: 10px;
    margin-top: 20px;
    border: 1px solid rgb(28, 27, 27);
    border-top:1px solid rgb(98, 95, 95);
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgb(43, 43, 43);
    max-width:400px;
}
.box {
    padding:5px;
    background-color: rgb(56, 56, 56);
    font-size:smaller;
    border-radius: 1px;
    box-shadow:inset 0px 0px 5px black;
}

.demobox img {
    margin:auto;
    width:100%;

}
.demobox {
    padding:10px;
    background-color: rgb(56, 56, 56);
    font-size:smaller;
    border-radius: 1px;
    box-shadow:inset 0px 0px 5px black;
}
.boxOuter a {
    text-decoration:none;
    color:white;
}
.boxOuter a:link {
    text-decoration:none;
    color:white;
}
.boxOuter a:visited {
    text-decoration:none;
    color:white;
}
.box a:link, .box a:visited, .box a{
    color:rgb(114, 114, 248);
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}